
@{
    ViewData["Title"] = "Index";
}

<!--Menu to access admin pages-->
<h1>Admin Menu</h1>

<div>
    <a asp-controller="AdminProduct" asp-action="">Product</a>
</div>

<div>
    <!-- TODO: make this controller and set of admin pages -->
    <a asp-controller="AdminAccount" asp-action="">Account</a>
</div>

<div>
    <!-- TODO: make this controller and set of admin pages -->
    <a asp-controller="AdminOrder" asp-action="">Order</a>
</div>


