@{
    ViewData["Title"] = "Contact Us";
}

<div class="text-center">
    <div class="btn btn-primary left">
        <a asp-controller="Home" asp-action="Index">Back to Homepage</a>
    </div>
    <br />
    <br />
    <br />
    <h1>Thank you! We'll get back to you shortly.</h1>
</div>
